<!-- npm install ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LIST</title>
    <link rel="stylesheet" href="../public/list.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('nav.html') %>

    <h4 class="ml-2 my-3 text-center">Share Your Gossip</h4>

    <div class="width85vh">
      <div class="container input-group mb-2">
        <a href="/write" class="linkRemoval">
          <button id="writeButton" class="input-group-append btn btn-danger">
            Write New
          </button>
        </a>
        <input class="form-control" id="search-input" />
        <button id="searchButton" class="input-group-append btn btn-danger">
          Search
        </button>
      </div>
    </div>

    <div class="'container">
      <ul class="list-group width85vh">
        <% for (let i=posts.length-1; i >= 0; i--){ %>
        <li class="list-group-item">
          <a href="/detail/<%= posts[i]._id %>" class="linkRemoval">
            <p class="listContent">Posting ID : <%= posts[i]._id %></p>
            <h4 class="listContent">Title : <%= posts[i].title %></h4>
            <p class="listContent">By "<%= posts[i].userName %>"</p>
            <button
              class="btn btn-outline-primary detail-button"
              data-id="<%= posts[i]._id %>"
            >
              Detail
            </button>
          </a>
        </li>
        <% } %>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      $(".chat").click(function (e) {
        var id = e.target.dataset.id;
        $.post("/chatroom", { idChatted: id }).then(() => {
          console.log("success");
        });
      });
    </script>

    <!-- Query String : pass value to sever through URL  -->
    <script>
      $("#searchButton").click(function () {
        var inputSearch = $("#search-input").val();
        // replacing url = same as get request
        window.location.replace("/search?value=" + inputSearch);
      });
    </script>

    <!-- JQuery import -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
